
*{
    -fx-theme-color: #33455e;
    -fx-dark-color: #424549;
    -fx-darker-color: #36393E;
    -fx-darkest-color:#282b30;
    -fx-text-color: #BCBCBC;
}




.combo-box .content{
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -fx-theme-color;
}
.combo-box-popup .list-view .list-cell{
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-border-color: -fx-darker-color;
}

.combo-box .list-cell{
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
}
.combo-box-popup .list-view .list-cell:filled:hover{
    -fx-background-color: -fx-theme-color;
}

.combo-box-base:hover
{
    -fx-color: -fx-theme-color;
    -fx-background-color: -fx-darker-color;
}
combo-box-base
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;

    -fx-padding: 0;}