@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    -fx-theme-color: #33455e;
    -fx-dark-color: #424549;
    -fx-darker-color: #36393E;
    -fx-darkest-color:#282b30;
    -fx-text-color: #BCBCBC;
}

.category-list{
    -fx-font-family: "Roboto Medium", sans-serif;
    -fx-font-size: 15px;
}

.add-category{
    -fx-padding: 0;
    -fx-font-size: 25px;
    -fx-background-color: green;
    -fx-border-width: 10px;
    -fx-text-fill: white;

}

.mainBackground{
    -fx-background-color: -fx-darkest-color;
}

.pane{
    -fx-background-color: fx-dark-color;
}

.transactions{

}