
@font-face {
    -fx-font-family: "Montserrat";
    src:local("./font/montserrat/Montserrat-ExtraBold.ttf")
}
*{
    -fx-theme-color: #33455e;
    -fx-dark-color: #424549;
    -fx-darker-color: #36393E;
    -fx-darkest-color:#282b30;                 
    -fx-text-color: #BCBCBC;
}

.label{
    -fx-font-weight: bold;
}

.standardFontSize{
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.lightModeThemeLight{
    -fx-background-color: #CFCFCF;
}
.lightModeThemeLighter{
    -fx-background-color: #E1E3E5;
}
.lightModeThemeLightest{
    -fx-background-color: #ffffff;
}

.categoryImages{
    -fx-background-color: gray;
    -fx-background-radius: 100;
}
.inputbox{
    -fx-alignment:center;
    -fx-text-fill: #BCBCBC;
}

.categoryimagesfront{
    -fx-background-radius: 100;
    -fx-alignment: center;
}

.accordion > .titled-pane > .title {
    -fx-background-color: transparent;
    -fx-background-insets: -1 0 0 0, 0 1 1 1, 1 2 2 2;
    -fx-background-radius: 0, 0, 0;
}
.titled-pane{
    -fx-background-color: -fx-darker-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 25;
    -fx-alignment: left;
}
.titled-pane > *.content {
    -fx-background-color: -fx-darker-color;
    -fx-border-color: -fx-darker-color;
    -fx-text-fill: -fx-text-color;
}
.titled-pane > .title > .arrow-button {
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 3.583em;
    -fx-alignment: center;
}
.text-field{
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.text-area {
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
     -fx-effect: dropshadow( one-pass-box, rgba(36,36,36,0.32),6,0.0,-1,2);

}
.text-area .content {
    -fx-background-color: -fx-dark-color;
}

.text-area > .title > .arrow-button {
    visibility: hidden;
    -fx-padding: 0.0em 0.0em 0.0em 3.583em;
    -fx-alignment: center;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}
.tab-pane{
    -fx-tab-min-width:90px;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: -fx-theme-color;
}
.tab-pane .tab:hover{
    -fx-background-color: derive(-fx-theme-color, 15%)
}
.tab-pane .tab:selected
{
    -fx-background-color: -fx-darker-color;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-color;
}

.combo-box{
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
    -fx-effect: dropshadow( one-pass-box, rgba(36,36,36,0.32),6,0.0,-1,2);

}

.combo-box .content{
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -fx-theme-color;
}
.combo-box-popup .list-view .list-cell{
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.combo-box .list-cell{
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.button{
    -fx-background-color: -fx-theme-color;
    -fx-text-fill: -fx-text-color;
    -fx-font-size: 10;
    -fx-border-color: transparent;
    -fx-background-radius: 7;
    -fx-effect: dropshadow( one-pass-box, rgba(36,36,36,0.32),6,0.0,-1,2);


}

.button:hover{
    -fx-background-color: derive(-fx-theme-color,15%);
}

.categoryBoxx{
    -fx-border-radius: 7;
    -fx-background-radius: 14;
    -fx-background-color: -fx-dark-color;
    -fx-border-color: -fx-darker-color;
    -fx-border-width: 5;
}

.IEbackground{
    -fx-background-color: -fx-darker-color;
}

.mainpain{
    -fx-background-color: -fx-darker-color;
    -fx-background-radius: 7;
}



