

@import url("https://fonts.google.com/specimen/Montserrat?query=montse");
@import url("https://fonts.google.com/specimen/Roboto?query=roboto");

.roboto{
    -fx-font-family: "Roboto";
}
.montserrat{
    -fx-font-family: "Montserrat";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}
.standardFontSize{
    -fx-font-size: 15;
}
.darkModeTextColor{
    -fx-text-fill:  #BCBCBC;
}
.themeColor{
    -fx-background-color: #33455E;
}
.darkModeThemeDark{
    -fx-background-color: #424549;
}
.darkModeThemeDarker{
    -fx-background-color: #36393E;
}
.darkModeThemeDarkest{
    -fx-background-color: #282b30;
}
.lightModeThemeLight{
    -fx-background-color: #CFCFCF;
}
.lightModeThemeLighter{
    -fx-background-color: #E1E3E5;
}
.lightModeThemeLightest{
    -fx-background-color: #ffffff;
}

* {
    -fx-theme-color: #33455e;
    -fx-dark-color: #424549;
    -fx-darker-color: #36393E;
    -fx-darkest-color:#282b30;
    -fx-text-color: #BCBCBC;

    -fx-focus-color: -fx-theme-color;
}
.date-picker{
    -fx-background-color: transparent;
    -fx-show-week-numbers: false;
}
.date-picker .button{
    -fx-background-color: -fx-theme-color;
}
.date-picker .label{
    -fx-background-color: -fx-theme-color;
}
.date-picker > .text-field  {
    -fx-alignment: center;
    -fx-background-color: -fx-dark-color;
    -fx-text-fill: -fx-text-color;
}
.date-picker .arrow-button {
    -fx-background-color: -fx-theme-color;
    -fx-background-radius: 0;
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-theme-color;
}
.date-picker .arrow-button .arrow {
    -fx-background-color: -fx-dark-color;
}
.date-picker .cell {
    -fx-background-color: -fx-theme-color ;
    -fx-text-fill: -fx-text-color;
    -fx-border-color: -fx-darker-color;
}
.date-picker .cell:filled{
    -fx-background-color: -fx-dark-color;
}
.date-picker .selected {
    -fx-text-fill: -fx-text-color;
}
.date-picker .selected:focused {
    -fx-background-color: -fx-theme-color;
    -fx-text-fill: -fx-text-color;
}
.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
.date-picker-popup .cell:hover{
    -fx-background-color: -fx-theme-color;
}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-theme-color;
}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: -fx-text-color;
}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-text-color;
    -fx-background-color: -fx-theme-color;
}
.date-picker-popup .week-number-cell {
    -fx-border-color: -fx-dark-color;
}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: -fx-dark-color;
}

.categoryImages{
    -fx-background-color: gray;
}



